li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
    color: wheat;
  }

  body{
    background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
  }

  h1, h3 {
    color: wheat;
  }
  label {
    color: wheat;
  }
  input {
    color: wheat;
  }
  button {
    background-color: bisque;
    color: black;
    border: black, solid;
    border-width: 2px;
  }
  img {
    height: 200px;
    width: 300px;
  }